/*! Theme styles. (theme.css) | @author webtitov.ru */
:root {
  /* colors */
  --theme-blue: #0080D5;
  --theme-dark-blue: #0066AA;
  /* else */
  --website-width: 480px;
  --padding-h: 24px; /* horizontal padding */
  --padding-v: 24px; /* vertical padding */
}

body {
  background-color: #f8f8f8;
  position: relative;
  overflow-x: hidden;
}

main {
  background-color: #FFFFFF;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
}

.theme-wrapper {
  padding: var(--padding-v) var(--padding-h);
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
  max-width: var(--website-width);
  margin: 0 auto;
}



.theme-button {
  background: rgb(255,0,0);
  background: -moz-linear-gradient(92deg, rgba(255,0,0,1) 3%, rgba(255,138,0,1) 97%);
  background: -webkit-linear-gradient(92deg, rgba(255,0,0,1) 3%, rgba(255,138,0,1) 97%);
  background: linear-gradient(92deg, rgba(255,0,0,1) 3%, rgba(255,138,0,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#ff8a00",GradientType=1);
  
  -webkit-box-shadow:  0 10px 10px rgba(255, 0, 0, 0.41);
  -moz-box-shadow:  0 10px 10px rgba(255, 0, 0, 0.41);
  -ms-box-shadow:  0 10px 10px rgba(255, 0, 0, 0.41);
  -o-box-shadow:  0 10px 10px rgba(255, 0, 0, 0.41);
  box-shadow:  0 10px 10px rgba(255, 0, 0, 0.41);
  
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  
  height: 75px;
  max-width: 336px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.theme-button:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  left: 0;
  top: 0;
  background-color: rgba(255,0,0,1);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.theme-button__text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.theme-button:hover:after {
  opacity: 1;
}